.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(to right, #4CAF50, #45a049); */
}

.login-form {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
  width: 300px;
}

.login-form h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

input[type="email"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="email"]:focus, input[type="password"]:focus {
  outline: none;
  border-color: #666;
}

.role-selection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.role-selection label {
  color: #555;
  margin-right: 10px;
}

button[type="submit"] {
  background-color: #b2876f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #b2876f;
}

.error-message {
  color: #b2876f;
  text-align: center;
}
